<body>
  <app-nav2></app-nav2>
  <app-barra-lateral></app-barra-lateral> 
  <div class="ficha-equipo-container" *ngIf="equipoDetails">
    <h2>{{ equipoDetails.team.name }}</h2>

  
    <div class="team-info">
      <img [src]="equipoDetails.team.logo" alt="{{ equipoDetails.team.name }} Logo" class="team-logo">
      
      <div class="team-details">
        <p><strong>País:</strong> {{ equipoDetails.team.country }}</p>
        <p><strong>Ciudad:</strong> {{ equipoDetails.venue.city }}</p>
        <img [src]="equipoDetails.venue.image" class="team-stadium-logo">
        <p><strong>Estadio:</strong> {{ equipoDetails.venue.name }}</p>
        <p><strong>Direccion:</strong> {{ equipoDetails.venue.address }}</p>
        <p><strong>Capacidad:</strong> {{ equipoDetails.venue.capacity }}</p>
      </div>
    </div>

 <div class="btn-container" >
 <button *ngIf="!isFavorite" (click)="agregarEquipoAFavoritos(equipoDetails.team.name,equipoDetails.team.logo,equipoDetails.team.id)" class="btn-favorito">Agregar a favoritos</button>
 </div>

 <p *ngIf="message">{{ message }}</p> <!-- Mensaje de éxito o error -->


  </div>
</body>


    
