body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../../Imagenes/Fondo.jpg) no-repeat center fixed;
  background-size: cover;
  flex-direction: column;
  overflow-y: auto;
}

.ficha-equipo-container {
  margin-top: 120px;
  width: 90%;
  max-width: 800px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(80px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #e0e0e0;
  border-radius: 20px;
  padding: 30px 25px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.ficha-equipo-container h2 {
  font-size: 2em;
  color: #FFD700; 
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.team-logo {
  width: 150px;
  height: 150px;
  border-radius: 30%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.team-details {
  width: 100%;
  color: #fff;
  text-align: center;
}

.team-details p {
  font-size: 1.1em;
  margin: 8px 0;
  font-weight: 500;
}

.team-stadium-logo {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.team-details strong {
  color: #FFD700;
}

.team-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #fff;
}

.team-stat-item {
  text-align: center;
  margin: 0 15px;
}

.team-stat-item h4 {
  font-size: 1.2em;
  color: #FFD700;
  margin-bottom: 8px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.team-stat-item p {
  font-size: 1em;
  font-weight: 500;
}

.mensaje-feedback {
  text-align: center;
  font-size: 0.9em;
  color: #FFD700;
  margin-top: 15px;
}


.btn-container {
    display: flex;
    gap: 10px; 
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-favorito {
    width: auto;
    height: auto;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 14px; 
    color: #fff;
    padding: 8px 20px; 
    transition: border-color 0.3s ease;
}

.btn-favorito:hover {
    border-color: rgba(255, 255, 255, 1); 
}
